* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

.mail {
    width: 16px;
    height: 16px;
}

.topborder {
    background-color: #1c1c1c;
}

.fontsize {
    font-size: 13px;
}

.logocolor {
    color: #f1db25
}

.logocolor1 {
    fill: #f1db25;
}

.banner {
    background-image: url(./images/hero-bg.jpg);
    width: 100%;
    background-position: contain;
    background-size: 100%;
    height: 580px;
    background-repeat: no-repeat;
    /* background-size: 500px 300px; */
}

.banner::before {
    content: "";
    position: absolute;
    /* bottom: 0;
    left: 0; */
    width: 100%;
    height: 580px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35));
}

.logoname {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

a:hover {
    background-color: #1c1c1c;
}

a.active {
    background-color: #1c1c1c;
}

.menu {
    font-size: 13px;
    text-transform: uppercase;
}

.headingcolor {
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
}

.Para {
    font-size: 13px;
}

.ourcolor0 {
    color: #f1db25;
}

.but {
    background-color: white;
    color: #1c1c1c;
}

.but:hover {
    background-color: transparent;
    color: white;
}

.but1 {
    background-color: #f1db25;
    color: white;
}

.but1:hover {
    background-color: transparent;
    color: #f1db25;
}

.scroll {
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%;
    text-align: center;
    background-color: #f1db25 !important;
    opacity: 1 !important;

}

.scroll1 {
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%;
    text-align: center;
    background-color: #f1db25 !important;
    opacity: 1 !important;
}

.scroll2 {
    width: 16px !important;
    height: 16px !important;
    border-radius: 100%;
    text-align: center;
    background-color: #f1db25 !important;
    opacity: 1 !important;
}

/* .carousel-indicators :not(.active) {
    background-color: #f1db25;
    opacity: 1;
} */
.carousel-indicators .active {

    background-color: white !important;
}

.aboutbanner{
    background-image: url(./images/about-img.jpg);
    width: 40%;
    height: 350px;
    /* margin-top: 75px; */
    background-repeat: no-repeat;
    background-size: 100%;
    /* margin-bottom:60px;
    margin-left: 120px; */
    /* position: relative; */
}
.about{
    width: 50%;
    height: 250px;
    position: absolute;
    top: 72px;
    left: 450px;
    background-color: white;
}
.aboutheading{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c0c0c;
    padding-top: 30px;
    padding-left: 10px;
    position: relative;
}
.aboutheading::before{
    content: "";
    width: 32px;
    height: 7px;
    background-color: #f1db25;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 12px;
    top: 62px;
}
.aboutpara{
    width: 100%;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 10px

}
.aboutread{
    background-color: #f1db25;
    font-size: 12px;
    margin-left: 10px;
}
.aboutread.aboutread:hover{
    background-color: transparent;
    border-color: #f1db25;
    color: #f1db25;
    font-size: 12px;
}

@media screen and (max-width: 426px) {
    * {
        padding: 0%;
        margin: 0%;
        font-family: "Poppins", sans-serif;
    }

    .topborder {
        width: 100%;
        background-size: auto;
        padding: 10px;
    }

    .fontname {
        display: none;
    }

    .banner {
        width: 100%;
        background-position: left;
        background-size: auto;
    }

    /* .menu {
        display: none;
    } */

    .navbar-toggler {
        background-color: transparent;
        border: 1px solid transparent;
    }

    .navbar-toggler-icon {
        width: 40px;
    }

    .navigationbar {
        margin-top: 10px !important;
    }

    .box1 {
        width: 87%;
        padding: 0% !important;
        margin: 0% !important;
    }

    .headingcolor {
        margin-left: 23px;
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }

    .ourcolor0 {
        text-align: center;
    }

    .totalbox {
        padding: 0% !important;
        margin: 0% !important;
    }

    .Para {
        width: 100%;
        text-align: center;
        margin: 0%;
        padding: 0%;
        font-size: 14px;
        padding-left: 29px;
        margin-top: 15px;
    }

    .dot{
      justify-content: center !important;
      width: 90%;
      margin: 0%;
      padding: 0% !important;
      margin-left: 20px !important;
    }
    .totalheight {
        width: 100%;
        height: 450px;
    }
    .but1{
        /* margin-left: 30px !important;
        margin-top: 18px !important; */
        padding: 11px 31px !important;
        margin: 0% !important;
        margin-top: 18px !important;
    }
    .but{
        margin-top: 18px !important;
        margin-left: 44px !important;
        padding: 11px 31px !important;
        margin-right: 10px;
    }
    .icon{
        fill: #ffffff;
    }
    .wh{
        width: 41px;
        height: 41px;
    }
   
}
@media screen and (max-width: 768px) {
    .icon{
        fill: #ffffff;
    }
    .wh{
        width: 41px;
        height: 41px;
    } 
    .navbar-toggler {
        background-color: transparent;
        border: 1px solid transparent;
    }
}
